{% extends "layout.html" %}
{% block head %}
	{% if session.logged_in %}  
   
    <script type="text/javascript" defer>
        let maxGrados = 22;
        window.addEventListener('load', () =>{
            const input = document.getElementById('maxTemp');
            input.addEventListener('input', (e)=> maxGrados = e.srcElement.value);
        })

        const data = {
            labels: ["-6 seg", "-5 seg", "-4 seg", "-3 seg", "-2 seg", "-1 seg", "Now"],
            datasets: [{
            label: "Temperature",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "#fc8702",
            pointColor: "#d17001",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [0,0,0,0,0,0,0]
            }]
        };
        const options = {
            animation: false,
            //Boolean - If we want to override with a hard coded scale
            scaleOverride: true,
            //** Required if scaleOverride is true **
            //Number - The number of steps in a hard coded scale
            scaleSteps: 3,
            //Number - The value jump in the hard coded scale
            scaleStepWidth: 10,
            //Number - The scale starting value
            scaleStartValue: 0,
            legend: {
                display: false
            }
        };

        const setData = (data, value) => {
            data.push(value);
            data.shift();
        }

		const sse = new EventSource("/update_sensor");
    	sse.onmessage = function(event) {
    		var sensor = event.data;
			obj = JSON.parse(sensor)
    	  	if (obj.tipo == 'temperature') {
                setData(data.datasets[0].data, obj.valor);
                const ctx = document.getElementById("myChart").getContext("2d");   
                const myLineChart = new Chart(ctx).Line(data, options);
                if(obj.valor > maxGrados)
                    alert(`Alerta, temperatura de ${obj.valor}ºC mayor a ${maxGrados}ºC de máxima`)
        	};
    	};
    
	</script>
  {% endif%}
{% endblock %}
{% block body %}

  {% if session.logged_in %}
    <div id="sensores">
    <h2>Temperatura</h2>
        <canvas id="myChart" width="400" height="400"></canvas>
        <br>
        <p>Generar alerta si temperatura supera:</p>
        <input type="number" min="19" max="22" id="maxTemp" value="22" />
   </div>
 
  </div>	
  {% endif%}	   
{% endblock %}